.about {
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    overflow: hidden;
    &-image {
        width: 500px;
        height: 500px;
        background-size: contain;
        background-color: $main-gray;
        border-radius: 60% 90% 60% 110%;
        -webkit-border-radius: 60% 90% 60% 110%;
        -moz-border-radius: 60% 90% 60% 110%;
        -ms-border-radius: 60% 90% 60% 110%;
        -o-border-radius: 60% 90% 60% 110%;
        animation: about-image-morphin 10s infinite;
        -webkit-animation: about-image-morphin 10s infinite;
}
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        h2 {
            margin-bottom: 20px;
            color: $main-black;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            text-transform: uppercase;
            span {
                color: $main-green;
                text-transform: none;
            }
        }
        .strong {
            margin-bottom: 20px;
            color: $main-green;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            br {
                display: none;
            }
        }
        .note-text {
            width: fit-content;
            margin-bottom: 20px;
            padding: 15px;
            color: $main-black;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            background-color: $main-gray;
        }
        p {
            color: $main-black;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
        }
    }
}

@keyframes about-image-morphin {
    0% {
        border-radius: 60% 90% 60% 110%;
        -webkit-border-radius: 60% 90% 60% 110%;
        -moz-border-radius: 60% 90% 60% 110%;
        -ms-border-radius: 60% 90% 60% 110%;
        -o-border-radius: 60% 90% 60% 110%;
    }

    25% {
        border-radius: 80% 110% 80% 90%;
        -webkit-border-radius: 80% 110% 80% 90%;
        -moz-border-radius: 80% 110% 80% 90%;
        -ms-border-radius: 80% 110% 80% 90%;
        -o-border-radius: 80% 110% 80% 90%;
    }

    50% {
        border-radius: 70% 60% 90% 90%;
        -webkit-border-radius: 70% 60% 90% 90%;
        -moz-border-radius: 70% 60% 90% 90%;
        -ms-border-radius: 70% 60% 90% 90%;
        -o-border-radius: 70% 60% 90% 90%;
    }

    75% {
        border-radius: 90% 100% 50% 110%;
        -webkit-border-radius: 90% 100% 50% 110%;
        -moz-border-radius: 90% 100% 50% 110%;
        -ms-border-radius: 90% 100% 50% 110%;
        -o-border-radius: 90% 100% 50% 110%;
    }
}